{% load static %}
<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
<link rel="shortcut icon" type="image/x-icon" href="{% static 'images/spear-logo.jpg' %}">
<title>Velan foods</title>

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login_bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/login_feather/feather.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/fontawesome/css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login_style.css' %}">
    <script src="{% static 'js/jquery-3.6.1.min.js' %}"></script>
</head>

<body>
    <div class="main-wrapper login-body">
        <div class="container-fluid px-0">
            <div class="row">
                <div class="col-md-6 login-wrap">
                    <div class="login-sec">
                        <div class="log-img">
                            <img class="img-fluid" src="{% static 'images/Forgot password.png' %}" alt="Logo">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 login-wrap-bg">
                    <div class="login-wrapper">
                        <div class="loginbox">
                            <div class="login-right">
                                <div class="login-right-wrap">
                                    <h2 style="color: blue;">Set a new password here</h2>
                                    <form method="POST" action="{% url 'user-forget-password' %}"
                                        enctype="multipart/form-data" id="userForgetPasswordFrm">
                                        {% csrf_token %}
                                        <!-- Email -->
                                        <div class="form-group">
                                            <label style="color: blue;">Email</label>
                                            <input class="form-control" type="text" id="txtEmail" name="txtEmail"
                                                placeholder="Enter your Email">
                                            <span class="text-danger" id="spanUserEmail"></span>
                                        </div>
                                        <div class="forgotpass mt-2">
                                            <div class="remember-me">
                                                <label class="custom_check mr-2 mb-0 d-inline-flex remember-me">
                                                    Remember me
                                                    <input type="checkbox" id="rememberMeCheckbox" name="radio">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                            <a href="/" style="color: red;"><small>Back to login page</small></a>
                                        </div>
                                        <div class="form-group login-btn">
                                            <a class="btn btn-primary btn-block" type="submit" title="click me"
                                                id="resetButton"
                                                onclick="return userForgotPassFormSubmit('userForgetPasswordFrm')">Forgot
                                                password</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
<script>
    function userForgotPassFormSubmit(formid) {
        var email = $('#txtEmail').val();
        var emailRegex = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;

        // Clear any previous error messages
        $('#spanUserEmail').text('');

        if (email === '') {
            $('#spanUserEmail').text('Email field should not be empty');
            return false;
        } else if (!emailRegex.test(email)) {
            $('#spanUserEmail').text('Invalid email');
            return false;
        } else if (!$('#rememberMeCheckbox').prop('checked')) {
            alert('Please check the checkbox before resetting your password');
            return false;
        } else {
            $("#" + formid).submit();
        }
    }

    $('#txtEmail').on('keypress', function () {
        $('#spanUserEmail').text('');
    });
</script>