{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Velan foods</title>
    <link rel="stylesheet" href="{% static 'plugins/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/ti-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/simple-line-icons/css/simple-line-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor.bundle.base.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'vendors/typicons/typicons.css' %}"> -->
    <!-- <link rel="stylesheet" href="{% static 'vendors/feather/feather.css' %}"> -->

    <!-- Plugin css for this page -->

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <!------------Title image------------------------->

    <link rel="shortcut icon" href="{% static 'images/vel_img.jpeg' %}" />
    <!--------select 2 ---------->

    <link rel="stylesheet" href="{% static 'plugins/select2/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/select2-bootstrap-theme/select2-bootstrap.min.css' %}">
    <!--------------dyna tree------------------>

    <link href="{% static 'plugins/dynatree/ui.dynatree.css' %}" rel="stylesheet" />
    <!------------Sweet Alerts-------------------------------->

    <link rel="stylesheet" type="text/css" href="{% static 'plugins/sweetalert2/sweetalert2.min.css' %}">
    <!-------------Datatables------------------------------------------------->

    <link rel="stylesheet" href="{% static 'plugins/datatables/datatables.min.css' %}">

    <!------------------ Date Picker--------------------->
    <link href="{% static 'plugins/bootstrap-datepicker/bootstrap-datepicker.min.css' %}">
    
    <!------------------ Daterange Picker--------------------->
    <link href="{% static 'plugins/daterangepicker/daterangepicker.css' %}" rel="stylesheet">

    


</html>