{% load static %}
<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
<link rel="shortcut icon" type="image/x-icon" href="{% static 'images/spear-logo.jpg' %}">
<title>Velan foods</title>

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login_bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/login_feather/feather.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/fontawesome/css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login_style.css' %}">
    <script src="{% static 'js/jquery-3.6.1.min.js' %}"></script>
</head>

<body>
    <div class="main-wrapper login-body">
        <div class="container-fluid px-0">
            <div class="row">
                <div class="col-md-6 login-wrap">
                    <div class="login-sec">
                        <div class="log-img">
                            <img class="img-fluid" src="{% static 'images/Reset password.png' %}" alt="Logo">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 login-wrap-bg">
                    <div class="login-wrapper">
                        <div class="loginbox">
                            <div class="login-right">
                                <div class="login-right-wrap">
                                    <h2 style="color: blue;">Reset your password</h2>
                                    <h5>{{email}}</h5>
                                    <form method="POST" action="{% url 'user-reset-password' %}"
                                        enctype="multipart/form-data" id="userResetPasswordFrm">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label> New password</label>
                                                    <input type="password" name="txtPassword" id="txtPassword"
                                                        minlength="8" class="form-control" value="" data-name="Password"
                                                        validate autocomplete="off">
                                                </div>
                                                <span id="spanpassword" class="text-danger mt-0 p-0"></span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Re-enter password</label>
                                                    <input type="password" name="txtRepassword" id="txtRepassword"
                                                        minlength="8" class="form-control" value=""
                                                        data-name="Re-password" validate autocomplete="off">
                                                    <span id="spanrepassword" class="text-danger mt-0 p-0"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <!------------hidden input for email val bindede--------------------------------------------->
                                        <input type="hidden" name="hdEmail" id="hdEmail" value="{{email}}">
                                        <div class="row mt-2">
                                            <div class="col-md-12 mg-t-20">
                                                <button type="button" class="btn btn-primary btn-block"
                                                    onclick="return ResetPassFormSubmit('userResetPasswordFrm')">Reset
                                                    Password</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
<script>
    $(document).ready(function () {
        // Bind keyup event to check password match
        $("#txtRepassword").keyup(checkPasswordMatch);

        // Clear Input Validation Messages
        $('input').on("keyup", function () {
            clearValidateMsg(this);
        });
    });

    // FORM SUBMIT FOR VALIDATION
    function ResetPassFormSubmit(formid) {
        var valid = resetFormValidate();
        if (valid) {
            var password = $("#txtPassword").val();
            var confirmPassword = $("#txtRepassword").val();

            if (password !== confirmPassword) {
                showMsg('Both passwords must be the same.');
                return false;
            } else if (password.length < 8) {
                showMsg('Password must be at least 8 characters.');
                return false;
            } else {
                $("#" + formid).submit();
            }
        } else {
            showMsg('Please fill in all fields.');
            return false;
        }
    }

    // CHECK PASSWORD VALIDATIONS
    function checkPasswordMatch() {
        var password = $("#txtPassword").val();
        var confirmPassword = $("#txtRepassword").val();

        if (password !== confirmPassword) {
            $("#spanrepassword").removeClass("text-success").addClass("text-danger").text("Passwords do not match!");
        } else {
            $("#spanrepassword").removeClass("text-danger").addClass("text-success").text("Passwords match.");
        }
    }

    // VALIDATE FORM FIELDS
    function resetFormValidate() {
        var password = $("#txtPassword").val();
        var confirmPassword = $("#txtRepassword").val();

        return password !== '' && confirmPassword !== '';
    }

    // FUNCTION TO SHOW MESSAGE
    function showMsg(message) {
        // You can implement a better UI for showing messages
        alert(message);
    }

    // FUNCTION TO CLEAR VALIDATION MESSAGES
    function clearValidateMsg(input) {
        // Assuming there is a span to show the validation message for each input
        if ($(input).attr('id') === 'txtPassword') {
            $("#spanrepassword").text(''); // Clear message for confirm password on password input
        } else if ($(input).attr('id') === 'txtRepassword') {
            $("#spanrepassword").text(''); // Clear message for confirm password
        }
    }
</script>